<!doctype html>
<html lang="en">
<head>
    <title>Home - Hexachess</title>
    <link rel="stylesheet" href="/css/index.css">
    <script>
        async function getSearchResults(name) {
            const url =`/partials/player-options?name=${name}}`;
            try {
                const resp = await fetch(url, { method: 'GET' });
                return await resp.text();
            } catch (ex) {
                console.error(ex);
            }
        }

        function createInputHandler(input, list) {
            let timeout = undefined;
            return function() {
                const name = input.value;
                if (timeout) {
                    clearTimeout(timeout);
                    timeout = undefined;
                }
                function timeoutHandler() {
                    getSearchResults(name)
                        .then((html) => list.innerHTML = html);
                }
                timeout = setTimeout(timeoutHandler, 250);
            }
        }

        window.onload = function() {
            const whiteInput = document.getElementById("white-name-input");
            const blackInput = document.getElementById("black-name-input");
            const whiteList = document.getElementById("white-name-list");
            const blackList = document.getElementById("black-name-list");

            whiteInput.oninput = createInputHandler(whiteInput, whiteList);
            blackInput.oninput = createInputHandler(blackInput, blackList);
        };
    </script>
</head>
<body>
{{> partials/banner }}
<div class="center-horizontal-container">
    <div class="wrapper">
        <div class="form-wrapper">
            <div class="dropdown-wrapper">
                <input id="white-name-input" placeholder="White Username" style="width: 50%"/>
                <div id="white-name-list" class="dropdown-list" style="width: calc(50% + 30px)"></div>
            </div>
            <div class="dropdown-wrapper">
                <input id="black-name-input" placeholder="Black Username" style="width: 50%"/>
                <div id="black-name-list" class="dropdown-list" style="width: calc(50% + 30px)"></div>
            </div>
            <input class="button-grey" type="submit" value="Search">
        </div>
        <table id="history-table" class="table-container" style="margin-bottom: 50px;">
            <thead>
            <tr>
                <th>White</th>
                <th>Black</th>
                <th>Result</th>
                <th>Played On</th>
            </tr>
            </thead>
            <tbody id="history-table-tbody">
                {{> partials/historyList this }}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>