<!doctype html>
<html lang="en">
<head>
    <title>Home - Hexachess</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
{{> partials/banner }}
<div class="center-horizontal-container">
    <div class="wrapper">
        <div class="form-wrapper">
            <div>
                <input id="white-name-input" style="width: 40%; margin-bottom: 20px"/>
                <div id="white-name-list"></div>
            </div>
            <div>
                <input id="black-name-input" style="width: 40%; margin-bottom: 20px"/>
                <div id="black-name-list"></div>
            </div>
            <input class="button-grey" type="submit" value="Search">
        </div>
        <table id="history-table" class="table-container" style="margin-bottom: 50px;">
            <thead>
            <tr>
                <th>White</th>
                <th>Black</th>
                <th>Result</th>
                <th>Played On</th>
            </tr>
            </thead>
            <tbody id="history-table-tbody">
                {{> partials/historyList this }}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>