<!doctype html>
<html lang="en">
    <head>
        <title>Home - Hexachess</title>
        <link rel="stylesheet" href="/css/index.css">
        <script src="/scripts/index.js"></script>
    </head>
    <body>
        {{> partials/banner }}
        <div class="center-horizontal-container">
            <div class="center-vertical-container">
            </div>
        </div>
    </body>
</html>