<!doctype html>
<html lang="en">
<head>
    <title>Leaderboard - Hexachess</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{> partials/banner }}
    <div class="center-horizontal-container">
        <div class="title-lg">
            Leaderboard
        </div>
        <div class="wrapper">
            {{> partials/statsTable }}
        </div>
    </div>
    {{> partials/pagination pages }}
</body>
</html>