<!doctype html>
<html lang="en">
<head>
    <title>Leaderboard - Hexachess</title>
    <link rel="stylesheet" href="/css/index.css">
    <script>
        async function postRegister(username, password, dupPassword) {
            const formData = new FormData();
            formData.append("username", username);
            formData.append("password", password);
            formData.append("duplicate-password", dupPassword);

            const url =`/forms/signup`;
            try {
                const resp = await fetch(url, { method: 'POST', body: formData });
                return [await resp.json(), resp.ok];
            } catch (ex) {
                console.error(ex);
                return [{ message: "An unexpected error has occurred" }, false];
            }
        }

        function onSignUp() {
            const usernameElem = document.getElementById("username-register");
            const passwordElem = document.getElementById("password-register");
            const dupPasswordElem = document.getElementById("password-retype-register");
            const submitElem = document.getElementById("register-form-submit");

            submitElem.innerHTML = `<div class="loader"></div`;
            function onResponse() {
                submitElem.innerHTML = "Register";
            }

            postRegister(usernameElem.value, passwordElem.value, dupPasswordElem.value)
                .then(([object, ok]) => {
                    console.log("Register response", object, ok);

                    const messageElem = document.getElementById("register-form-message");

                    if (ok) {
                        messageElem.innerText = "";
                        messageElem.className = "";
                        window.location = "/";
                    } else {
                        messageElem.innerText = object.message;
                        messageElem.className = "red-color";
                    }

                    onResponse();
                })
                .catch(onResponse);

            // used to prevent the form onsubmit event this is invoked within from refreshing the page
            return false;
        }
    </script>
</head>
<body>
{{> partials/banner }}
<div class="center-horizontal-container">
    <div class="title-lg">
        Register
    </div>
    <div style="width: 500px">
        <form class="form-wrapper" onsubmit="return onSignUp();">
            <label for="username-register" style="font-size: 17px">Username</label>
            <input id="username-register" name="username" placeholder="Username" value="" style="margin-top: 5px; margin-bottom: 10px;"/>

            <label for="password-register" style="font-size: 17px">Password</label>
            <input id="password-register" type="password" name="password" placeholder="Password" value="" style="margin-top: 5px; margin-bottom: 10px;"/>

            <label for="password-retype-register" style="font-size: 17px">Confirm Password</label>
            <input id="password-retype-register" type="password" name="password" placeholder="Password" value="" style="margin-top: 5px; margin-bottom: 15px;"/>

            <button id="register-form-submit" class="button-grey" type="submit">
                Register
            </button>
            <div id="register-form-message" style="margin-top: 20px"></div>
        </form>
    </div>
</div>
</body>