<!doctype html>
<html lang="en">
<head>
    <title>Search - Hexachess</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    {{> partials/banner }}
    <div class="center-horizontal-container">
        <div class="title-lg">
            Search
        </div>
        <div class="wrapper">
            <form class="form-wrapper">
                <input id="username" name="username" placeholder="Username" value="{{searchText}}"/>
                <input class="button-grey button-submit-vertical-form" type="submit" value="Search">
            </form>
            {{#if searchText}}
                {{> partials/statsTable }}
            {{/if}}
        </div>
    </div>
    {{#if searchText}}
        {{> partials/pagination pages }}
    {{/if}}
</body>
</html>