<!doctype html>
<html lang="en">
<head>
    <title>Settings - Hexachess</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
{{> partials/banner }}
<div class="center-horizontal-container">
    <div class="title-lg">
        Settings
    </div>
    <div style="width: 500px">
    </div>
</div>
</body>
</html>