<!doctype html>
<html lang="en">
<head>
    <title>404 - Hexachess</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   <div class="center-container">
       <div class="panel">
           <div class="text-lg">
               Error 404
           </div>
           <p>
               Sorry, the page you are looking for does not exist.
               You might have followed a broken link or entered a URL that doesn't exist on this site.
           </p>
           <hr>
           <a href="/" class="button-grey button-scaled">
               Return Home
           </a>
       </div>
   </div>
</body>