<div class="banner blue-bg">
    <a href="/" class="app-title color-hover">
        Hexachess
    </a>
    <a href="/" class="banner-elem color-hover">
        Play
    </a>
    <a href="/games" class="banner-elem color-hover">
        Games
    </a>
    <a href="/leaderboard" class="banner-elem color-hover">
        Leaderboard
    </a>
    <a href="/players/search" class="banner-elem color-hover">
        Search
    </a>
</div>