<div class="banner blue-bg">
    <a href="/" class="app-title blue-hover">
        Hexachess
    </a>
    <div class="banner-elem blue-hover">
        Play
    </div>
    <div class="banner-elem blue-hover">
        Games
    </div>
    <div class="banner-elem blue-hover">
        Players
    </div>
</div>