<!doctype html>
<html lang="en">
<head>
    <title>{{code}} - Hexachess</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
   <div class="center-container">
       <div class="panel" style="max-width: 350px;">
           <div class="text-lg">
               Error {{code}}
           </div>
           <p>
               {{message}}
           </p>
           <hr>
           <a href="/" class="button-grey button-scaled">
               Return Home
           </a>
       </div>
   </div>
</body>